APP_ENV=dev
APP_SECRET=dev-secret

DATABASE_URL="postgresql://app:app@product-db:5432/product_service?serverVersion=16&charset=utf8"
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@host.docker.internal:5672/%2f/messages